@function yearColor($num) {
	@if $num == "1950" {
		@return $chapter-color-50s;
	} @else if $num == "1960" {
		@return $chapter-color-60s;
	} @else if $num == "1970" {
		@return $chapter-color-70s;
	} @else if $num == "1980" {
		@return $chapter-color-80s;
	} @else if $num == "1990" {
		@return $chapter-color-90s;
	} @else if $num == "2000" {
		@return $chapter-color-00s;
	} @else if $num == "2010" {
		@return $chapter-color-10s;
	} @else {
		@return $content-toc-background;
	}
}

@mixin yearImage($type, $year, $fname, $ftype) {
	image: url('../images/#{$type}/#{$year}/#{$fname}.#{$ftype}'),
		   url('../images/header/#{$year}.png');
}

@mixin background-rgba($hex, $alpha) {
	background: $hex;
	background: rgba($hex, $alpha);
}

/* A media query that captures almost all high DPI aware devices.
   https://twitter.com/marcedwards/status/238853928010280960/photo/1
   Compass? Turn into a mixin?

   @media
        only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (min-device-pixel-ratio: 1.3),
        only screen and (min-resolution) {
			// Your code to swap to higher DPI images
        }
*/