.clear_temp {
	clear: both;
} // commented out in HTML

figure img {
	width: 100%; // should just be max-width like in normalise
	/* How do you have a image-friendly, responsive baseline grid?
	   The widths have to be set as max 100%, so the height is what
	   changes unless you want the proportions to change or the image
	   to get croppoed with an overflow, which are both worse. */
}

canvas {
	background: #CCC;
}

.temp_citation_modal {
	// display: none;
	background: #CCC;
	margin: 0 #{($column * 2)};
}

.temp_citation_modal__open {
	display: block;
}

/* Targets */
/* Uncomment to see the targets */
/* .com_comments_comment_reply, .target__com { background: rgba(teal, 0.5); } */