$line: 27;
$column: 5.55%;
$font-size: 18;
$em: $font-size * 1;

$content-background: #EEE;
$content-color: #222;
$content-fontstack-text: "chaparral-pro", Georgia, serif;
$content-fontstack-head: "facitweb", "Lucida Grande", sans-serif;

// Compass Variables

$default-transition-duration: 0.25s;

// Imports

@import "compass/css3", "compass/css3/user-interface", "compass/utilities"; // For some reason, I have to specify css3/ui, too.
@import "_temp", "_keyframes";
@import "_normalise";

//	Type Scale
//
//	13.5px
//	18.0px size
//	22.5px
//	27.0px leading
//	36.0px
//	40.5px
//	54.0px
//	63.0px

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
} // move to normalise?

body {
	font-size: #{$font-size/16}em;
	line-height: #{$line / $em};
	font-family: $content-fontstack-text;
	background: $content-background;
	color: $content-color;
	
	overflow-x: hidden; // this is a temp fix
}

header {
	font-family: $content-fontstack-head;
}

a {
	color: #666;
}

a:hover, a:focus, a:active {
	color: #333;
}

.chap {
	// What a nice chap!
}

/* Periferal Content */

.chap_marg {
	font-size: #{(13.5 / $em)}em;
	line-height: #{(4/3)};
	font-style: italic;
	color: #666;

	float: left;
	width: #{($column * 3)};
	margin: 0.5em 0 0 0; // this lines it up with the baseline in ths case, but might not always work. Test!
	padding: 0 1em; // half gutter 
	
	@include hyphenation;
	@include box-sizing(border-box);
	@include transition();
}

.chap_marg:hover, .chap_marg:focus {
	color: #222;
	cursor: pointer;
} // these won't work on touch devices, duh

.chap_marg_icon {
	font-size: #{($em / 13.5)}em;
	font-weight: bold;

	display: block;
	overflow: hidden;
	margin: 0 0 0.25em 0;

	width: 1.75em;
	height: 1.75em;
	border: none;
	background: #9A9A9A;
	
	color: #FFF;
	text-align: center;
	line-height: 1.9; // visually centre

	@include border-radius(4em 4em 4em 0);
	@include transition();
}

.chap_marg:hover .chap_marg_icon, .chap_marg:focus .chap_marg_icon {
	background: #FF8080;
}

.chap_marg_icon img {
} /* this markup isn't right, maybe a :before on citations? 
	 Also, should work for all icons, right now requires an
	 image in the <i> tag. Needs an inner-class if markup 
	 stays the same. */

.chap_marg_icon__citation {

}

/* Main Sections */

.chap_sec {
	margin: 0 #{($column * 3)};
	// width: #{($column * 10)}; // 10 originally , haig suggests 3/10/3 (16) instead of 4/8/4 (16), I decided 3/12/3 (18)
	width: #{($column * 12)};
	padding: 0 0.5em; // half-gutter, breaks figure, works against GGS but with pereferal content
	
	@include box-sizing(border-box);
}

.chap_sec:first-child p:first-child, .chap_lead {
	font-size: #{22.5 / $em}em;
	line-height: 1.5;
}

.chap_sec p + p, .chap_marg + .chap_sec p:first-child {
	text-indent: 2em;
} // indent for paragraph following paragraph, paragraph "following" periferal content

.chap_sec blockquote {
	margin: 1em 0 1em -1.5em;
    border-left: 0.5em solid #FF8080;
    font-style: italic;
    padding: 0 0 0 1em;
}

.chap_sec cite {
	display: block;
    margin: 1em 0 0 0;
    font-style: normal;
}

.chap_sec q:before {
}

.chap_sec q:after {
}

/* Chapter Section Main Images */

.chap_sec_fig {
	/* This makes the figure break outside of the main column.
	   Since the inner column is 12 out of 18, it's 2/3 of the full width,
	   multiply by 1.5 to make the column variable work again. Then, since there
	   is a constant gutter padding of 0.5em, find the percentage of 0.5em
	   at 768 (target device width, change with media queries to breakpoint variables)
	   and multiply by two for the additional width. Probably my biggest CSS comment
	   ever! Hide this one in the SCSS, please. */
	width: #{((($column * 14) * (3/2)) + (2 * (($em / 768) * 100%)))};
	left: #{((($column * 1) * (-3/2)) - (1 * (($em / 768) * 100%)))};
	margin: 1em 0;
}

.chap_sec_fig__left, .chap_sec_fig__right {
	width: #{((($column * 15) * (3/2)) + (2 * (($em / 768) * 100%)))};
	left: #{((($column * 3) * (-3/2)) - (1.25 * (($em / 768) * 100%)))};
	// should be 1 instead of 1.25?
}

.chap_sec_fig__right {
	// right: #{((($column * 3) * (-3/2)) - (1.25 * (($em / 768) * 100)))};
	left: -(0.6 * (($em / 768) * 100%));
	left: 0; // should be left: 0?
}

.chap_sec_fig_cap {
	font-size: #{(13.5 / $em)}em;
	background: #CCC;
	color: #333;
	padding: 0.5em 1em;
}

/* Marginal Images */

.chap_marg_fig {
	margin: 0 0 1em 0;
}

.chap_marg_fig_cap {
	color: #666;
	padding: 0.5em 0;		
}

/* Comment Target */

.target_com {
	padding: 5em 0;
	margin: -5em 0;
	z-index: 10;
	position: relative;
	cursor: pointer;
	// background: rgba(teal, 0.1);
}

/* Comments */

.com {
	margin: 0 0 -1px 0; // fixes baseline
	width: 100%;
	clear: left;
	background: #FFF;
	border-top: 1px solid #FF8080;
	border-bottom: 1px solid rgba(#000,0.3);

	@include transition();
	@include transform(translate3d(0,0,0));
}

.com__open, .com:focus {
	border-bottom: 1px solid rgba(#FF8080,1.0);
}

/* Dive Main Arrow */

.com_dive {
	display: block;
	width: 0.75em;
	height: 0.75em;
	position: absolute;
	right: 1.78em; // needed to center over small triangle which is set at 2em as in comps
	margin: #{($em / -2)}px 0 0 0;
	transform: rotate(45deg);
	border: 1px solid #FF8080;
	border-width: 3px 0 0 3px;
	background: $content-background;
	
	-webkit-animation: comDiveBackground 0.25s 1 normal ease-in-out none 0;
	@include transform(rotate(45deg));
	@include filter-gradient(#d6d6d6, #ffffff, horizontal);
	@include background-image(linear-gradient(left top, rgba(214,214,214,1) 20%, rgba(220,220,220,1) 57%, rgba(255,255,255,0) 100%));
	@include transition(background);
	// box sizing not supported in iOS4, makes this look worse

} // BUG this breaks margins right now

.com__open .com_dive, .com:focus .com_dive {
	border-width: 0 3px 3px 0;
	background: $content-background;
	
	-webkit-animation: none;
}

/* Dive Mini-Triangle */

.com:after {
	content: "";
	display: block;
	position: absolute;
	float: left;
	border: 4px solid transparent;
	border-top-color: #FF8080;	
	right: 2em; // 36px
	width: 0;
	height: 0;
}

.com__open:after, .com:focus:after {
	margin: 1px 0 0 0;
	@include transform(rotate(180deg));
}

.com_count {
	font-size: #{13.5 / $em}em;
	display: block;
	float: right;
	height: 100%;
	margin: -1.5em 0 0 0;
	padding: 0 1em 0 0.5em;
	color: #FF8080;

	@include user-select(none);
}

.com__open .com_count, .com:focus .com_count {
}

.com_wrapper {
	height: 0;
	overflow-y: hidden;
	
	@include transition();
	@include transform(translate3d(0,0,0)); // does this help? test
}

.com__open .com_wrapper, .com:focus .com_wrapper {
	height: 14em; // ONE BIG ISSUE WITH ANIMATIONS: fixed-height, should be 100%
	padding: 0.50em 0;
}

.com_comments {
	font-size: #{13.5 / $em}em;
	width: #{($column * 15)};
	margin: 0 auto;
	position: relative;
}

.com__open .com_comments, .com:focus .com_comments {
}

.com_comments_comment {
	float: left;
	width: #{(100%/3)}; // check how this works with the columns
	padding: 0.5em 0; // quarter em padding here, three quarters for animation on .com_wrapper	
	position: relative;
	height: 100%;
}

.com_comments_comment_wrap {
	border-left: #{(2/3)}em solid #F04F47; // should this be px?
	padding: 0 1em 1em 1em;
}

.com_comments_comment_cite {
	font-size: #{$em / 13.5}em;
	margin: 0.5em 0 0 0;
	display: block;
	
	@include hyphenation;
}

.com_comments_comment_reply {
	display: block;
	font-family: $content-fontstack-head;
	text-decoration: none;
	line-height: 2;
	color: #333;
	float: left;
	padding: 0 0.5em 0 0;
}

.com_comments_comment_reply_icon {
	display: block;
	float: left;
	width: 2em;
	margin: 0 0.5em 0 0;
	text-align: center;
	background: #F04F47;
	color: #FFF;
}

@media screen and (min-width: 1024px) { // Check media queries in Sass

	.com_comments {
		width: #{($column * 14)};
	}

	.com_comments_comment {
		// width: #{($column * 4)}; // check how this works with the columns
		width: #{(207/908 * 100%)}; // Px to % from Fireworks, better way?
	}

	.com_comments_comment:last-of-type {
		width: #{(441/908 * 100%)}; // Px to % from Fireworks, better way?
	} // should actually be a __class for whatever the longest/most popular, whatever comment is. Probably shouldn't be the middle one.
	
	.com_comments_comment:last-of-type .com_comments_comment_wrap {
		font-size: #{(4/3)}em; // Change font-size here instead since it won't mess up reply button then	
		border-left: 0.5em solid #F04F47; // should this be px?
		padding: 0 0.75em 0.75em 0.75em;
	}

	.com_comments_comment:last-of-type .com_comments_comment_cite {
		font-size: 1em;
	}
	
}

/* Forms, move to normalise later? */

form {
}

label {
	float: left;
	clear: left;
	width: 100%;
	font-size: #{(13.5 / $em)}em;
	font-weight: bold;
}

input, textarea, select {
	margin: 0 0 0.5em 0;

	@include box-sizing(border-box);
}

input[type=text] {
	float: left;
	clear: left;
	line-height: 2;
	height: 2em;
	padding: 0 #{(1/3)}em;
	border: 1px solid #666;
	// width: #{(($column * 11) * (18/14))};
	width: 100%;
}

textarea {
	float: left;
	clear: left;
	line-height: 1.5;
	padding: 0.25em #{(1/3)}em;
	border: 1px solid #666;
	// width: #{(($column * 11) * (18/14))};
	width: 100%;
	min-height: 7em;

	@include box-sizing(border-box);
}

input[type=text]:focus, textarea:focus {
	background: yellow;
}

input[type=submit] {
	float: left;
	clear: left;
	margin: 0.5em 0;
}

.com_add_sec {
	background: #CCC;
	width: #{($column * 14)};
	margin: 0 auto;
	padding: 1em; // half-gutter, this creates the same problem as the figure gutter by bumping the inner content like the inputs inwards since the padding is in ems instead of percentages
	position: relative;
	top: -25em;

	@include box-shadow(0 0 1em rgba(#000, 0.5));
	@include box-sizing(border-box);
}