@include font-face("Tisa Web",
  font-files(
    "../fonts/TisaWeb.woff", woff
  )
);

@include font-face("Tisa Web Bold",
  font-files(
    "../fonts/TisaWeb-Bold.woff", woff
  ), bold, normal
);

@include font-face("Tisa Web Italic",
  font-files(
    "../fonts/TisaWeb-Italic.woff", woff
  ), normal italic
);

@include font-face("Tisa Web Bold Italic",
  font-files(
    "../fonts/TisaWeb-BoldItalic.woff", woff
  ), bold, italic
);

@include font-face("Dosis Light",
  font-files(
    // "../fonts/Dosis-Light.woff", woff, // rendering issues
    "../fonts/Dosis-Light.ttf", ttf
  ), normal, normal
);

@include font-face("Dosis Regular",
  font-files(
    // "../fonts/Dosis-Regular.woff", woff, // rendering issues
    "../fonts/Dosis-Regular.ttf", ttf
  ), normal, normal
);

@include font-face("Dosis SemiBold",
  font-files(
    // "../fonts/Dosis-SemiBold.woff", woff, // rendering issues
    "../fonts/Dosis-SemiBold.ttf", ttf
  ), bold, normal
);

@include font-face("Dosis Bold",
  font-files(
    // "../fonts/Dosis-Bold.woff", woff, // rendering issues
    "../fonts/Dosis-Bold.ttf", ttf
  ), bold, normal
);

%font-face-body {
	font-family: "Tisa Web", Georgia, serif;
	font-weight: normal;
}

%font-face-body-bold {
	font-family: "Tisa Web Bold", Georgia, serif;
	font-weight: normal;
}

%font-face-body-italic {
	font-family: "Tisa Web Italic", Georgia, serif;
	font-weight: normal;
}

%font-face-body-bolditalic {
	font-family: "Tisa Web Bold Italic", Georgia, serif;
	font-weight: normal;
}

%font-face-aside-light {
	font-family: "Dosis Light", "AvenirNextCondensed-UltraLight", Verdana, sans-serif;
	font-weight: normal;
}

%font-face-aside {
	font-family: "Dosis Regular", "AvenirNext-Regular", Verdana, sans-serif;
	font-weight: normal;
}

%font-face-aside-bold {
	font-family: "Dosis SemiBold", "AvenirNext-DemiBold", Verdana, sans-serif;
	font-weight: normal;
}

%font-face-subhead {
	font-family: "Dosis Bold", "AvenirNextCondensed-Bold", Verdana, sans-serif;
	font-weight: normal;
}

%font-face-head {
	font-family: "Dosis Bold", "AvenirNextCondensed-Bold", Verdana, sans-serif;
	font-weight: normal;
}