.comment-list,
.comment-list-action-list,
.comment-list-action-item,
.comment,
.comment-action-list,
.comment-action-item,
.comment-form,
.comment-form-action-list,
.comment-form-action-item
	list-style-type: none
	margin: 0
	padding: 0