.comment-list,
.comment-list-action-list,
.comment-list-action,
.comment,
.comment-action-list,
.comment-action,
.comment-form,
.comment-form-action-list,
// .comment-form-action
	list-style-type: none
	margin: 0
	padding: 0