.dive
	border-top: 1px solid $color-highlight
	border-bottom: 1px solid $color-highlight
	width: 100%
	height: auto
	max-height: auto
	background: $color-background
	box-shadow: 0 1px 0 rgba(255, 255, 255, 33%)
	&:after
		content: "" // 36px
		position: absolute
		right: 2em
		z-index: 10
		display: block
		float: left
		height: 0
		border: 0.25em solid transparent
		border-top-color: $color-highlight
		width: 0

.dive_wrapper
	display: block
	max-height: 0
    width: 100%
    overflow: hidden
	transition: max-height $default-transition-duration ease-in-out
	hardware-acceleration(true)

.dive__open,
.dive:focus,
.dive__tease
	box-shadow: none
	.dive__open > &,
	.dive:focus > &
		max-height: $dive-comment-max-height
		hardware-acceleration(true)

.dive.dive__tease > .dive_wrapper
	max-height: 250em // needs extra .dive class for higher specificity, as .dive__open and .dive__tease will get applied

.dive_count
	font-size-adjust: 0.5 // Still needed?
	font-size: 0.5em
	display: block
	float: right
	height: 1em
	margin: -1.5em 0 0 0
	padding: 0 1em 0 0.5em
	.dive__open &,
	.dive:focus &
		// Move to state?

.dive_icon
	display: block
	width: 0.75em
	height: 0.75em
	position: absolute
	right: 1.5em
	margin: 0
	border: 1px solid $color-dive
	border-width: 3px 0 0 3px
	background: $content-background
	z-index: 10
	box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 33%)
	transform: rotate(45deg)

.dive__open:after,
.dive:focus:after,
.dive__tease:after
	margin: 1px 0 0 0
	transform rotate(180deg)