.dive
	box-shadow: 0 0 1em desaturate(darken($color-background, 50%), 50%)
	// border-top: 1px solid $color-highlight !important
	width: auto
	height: auto
	max-height: auto
	// &:before
	// 	content: "" // 36px
	// 	position: absolute
	// 	z-index: 10
	// 	width: 0.75em
	// 	height: 0.75em
	// 	position: absolute
	// 	right: 2em;
	// 	margin: 0
	// 	border: 1px solid $color-highlight
	// 	border-width: 3px 0 0 3px
	// 	background: $color-background
	// 	display: block
	// 	transform: rotate(45deg)
	.is-focused > &
		border-top: 1px solid $color-highlight
		border-bottom: 1px solid $color-highlight !important
		box-shadow: none
		& > .chapter-wrapper
			box-shadow: 0 0 1em desaturate(darken($color-background, 50%), 50%)
		// &:before
		// 	transform rotate(-135deg)

.dive-wrapper
	display: block
	padding: 0
	width: auto
	// max-height: 0
	overflow: hidden
	transition: max-height $default-transition-duration ease-in-out
	hardware-acceleration(true)

.dive-count
	font-size: 0.5em
	// test font-size-adjust with fallback fonts
	display: block
	float: right
	.dive.is-open &,
	.dive:focus &
		// Move to state?

.dive-icon
	display: block
	width: 0.75em
	height: 0.75em
	position: absolute
	right: 2em
	margin: 0
	border: 1px solid $color-highlight
	border-width: 3px 0 0 3px
	background: $color-background
	display: block
	transform: rotate(45deg)