@font-face
	font-family: 'Tisa Web'
	font-weight: normal
	font-style: normal
	src: url('fonts/TisaWeb.woff') format('woff')

@font-face
	font-family: 'Tisa Web Bold'
	font-weight: bold
	font-style: normal
	src: url('fonts/TisaWeb-Bold.woff') format('woff')

@font-face
	font-family: 'Tisa Web Italic'
	font-weight: normal
	font-style: italic
	src: url('fonts/TisaWeb-Italic.woff') format('woff')

@font-face
	font-family: 'Tisa Web Bold Italic'
	font-weight: bold
	font-style: italic
	src: url('TisaWeb-BoldItalic.woff') format('woff')

@font-face
	font-family: 'Dosis Light'
	font-weight: normal
	font-style: normal
	src: url('Dosis-Light.ttf') format('truetype')

@font-face
	font-family: 'Dosis Regular'
	font-weight: normal
	font-style: normal
	src: url('Dosis-Regular.ttf') format('truetype')

@font-face
	font-family: 'Dosis SemiBold'
	font-weight: normal
	font-style: normal
	src: url('Dosis-SemiBold.ttf') format('truetype')

@font-face
	font-family: 'Dosis Bold'
	font-weight: normal
	font-style: normal
	src: url('Dosis-Bold.ttf') format('truetype')