.media
	display: block
	padding: 0

.media-image
	.ie &
		width: 100%

.media-caption
	background: $color-caption
	// padding

.media-caption-title
	font-family: $font-family-default
	font-style: normal
	display: inline