// .subchapter-list,
// .subchapter
// 	list-style-type: none
// 	margin: 0
// 	padding: 0

.subchapter // Probably should do this in topcoat module style
  padding: var-padding--list-header
  font-size: 1em