// SMACSS / Stylus / Modular Scale Boilerplate
// ===========================================

@import "_nib" // Import Nib first (if you’re using it)

// Stylus Features
// =============

@import "_variables"
@import "_functions"
@import "_mixins"


// The Styles
// ==========
// Styles are defined in the following order & groupings:
// Base, Layout, Module, State

// - Base styles (reset + elements)
// - Layout = major components, e.g., header, footer etc.
// - Module = minor components, e.g., navigation bar, callout, widgets etc.
// - State  = a state is something that augments + overrides all other styles, e.g., success or error state

@import "_base"
@import "_layout"
@import "_modules"
@import "_state"

// Print styles
@import "_base/print"
// Helpers
@import "_base/helpers"