// Layout
// ======

// To Be Moved to Overflow Scrolling module

.no-overflowscrolling .main_wrapper_outer,
.no-overflowscrolling .main_wrapper
	height: auto
	overflow: visible

.main_wrapper
	height: 100%
	overflow: auto

.main_wrapper_outer
	@extend .main_wrapper
	overflow-scrolling: touch

.no-overflowscrolling-fix
	display: block
	overflow: hidden
	text-align: center
	min-height: 100% // interpreted differently becasue of Modernizr