.nav
	position: relative
	transition: none
	.ie &
		margin-top: 0 !important // override js
		@include: translate(none)
		@include: span-columns(3 omega, 5)
		@include: clearfix
		overflow: visible
		float: right

.nav-list
	display: block
	list-style: none
	font-family: $font-family-default
	text-transform: lowercase
	line-height: base-line-height
	text-align: center
	.ie &
		margin-right: none
		float: right

.nav-list-item
	display: block
	border-bottom: 1px solid $color-caption
	.ie &
		display: list-item
		line-height: ms(4)
		border-bottom: none
		float: left
		clear: none !important

.nav-list-item:last-child
	border-bottom: none

.nav-list-item-link
	font-size: 1rem
	display: block
	&:hover,
	&:active
		color: $color-highlight
	&:visited
		@extend .nav-list-item-link
	&:focus
		// should open menu on focus
	.ie &
		font-size: ms(0, rem)
		line-height: base-line-height

.nav-list-item-skip
	border: 0

.nav-skip
	width: 0
	height: 0
	overflow: hidden

.nav-skip:focus
	width: auto
	height: auto
	overflow: visible
