//- Should be changed to a view
h1= globals.title
.target
	.dive
		i.dive_icon
		//- #book.dive-wrapper.dive--open
		#book
	//- span.no-overflowscrolling-fix= "(temp overflow scrolling fix, placeholder for real cover content)"