//- Should be changed to a view
.main_wrapper_outer
	#main.main_wrapper
		#cover.cover
			.cover_header
				h1 50 Years of Life Online
			.target.target__cover
				.cover_outer.dive
					i.dive_icon
					#decades.cover_wrapper.dive_wrapper.dive__open
		span.no-overflowscrolling-fix= "(temp overflow scrolling fix, placeholder for real cover content)"
		#spine
			#key