script(type="text/template", id="template-chapter")

  .chapter-wrapper
    strong!= "<%= title_plain %>"
    p!= "<%= slug %>"
  .js-subChapterView.topcoat-list(id!="<%= slug %>")
    //- header.topcoat-list__header
    //-   h4 SubChapters