script(type="text/template", id="template-chapters-header")

	header.chap_head
		hgroup.chap_head_group
			h2.h_subtitle!= "The Internet in <% decade %>"
			h1.h_title!= "<% title %>"
		figure.chap_head_fig
			img(src="http://placehold.it/500x500")