script(type="text/template", id="template-comment-form")

	.com_add_sec.modal.modal__open
		form.com_add_form(method="post", action="#")
			fieldset
				label(for="commentName") Name
				input(type="text", name="commentName", id="commentName", placeholder="Your name")
				label(for="commentEmail") Email
				input(type="text", name="commentEmail", id="commentEmail", placeholder="Your email")
				label(for="commentText") Comment
				textarea(name="commentText", id="commentText")
			fieldset(class="form_action_items")
				button(class="submit button") Add Comment
				button(class="cancel") Cancel