script(type="text/template", id="template-comment-list")

	aside.topcoat-list.dive
		header.topcoat-list__header
			strong Comments
			span.ui!= "<% comment_count %>"
		ul.comment-list.topcoat-list__container.dive-wrapper
			//- Comments load here
		ul.comment-list-action-list
			li.comment-list-action
				button.topcoat-button.js-viewAddComment(href="#", title="") Add Comment