script(type="text/template", id="template-comment")

	.comment-content
		.comment-body!= "<%= content %>"
			header.comment-header
				a.comment-author!= "—<%= name %>"
				a.comment-time Two days ago
			.comment-content
				a.ui.reply(href="#reply", title="Reply to <%= name %>’s comment") Reply

			footer
				ul.comment-action-list
					li.comment-action
						a.reply