script(type="text/template", id="template-comment-list")

	aside.topcoat-list.dive
		header.topcoat-list__header
			h5 Comments
			span.ui!= "<% comment_count %>"
		ul.comment-list.topcoat-list__container.dive-wrapper
			//- Comments load here
		ul.comment-list-action-list
			li.comment-list-action
				a.view-all(href="#comments", title="View all the comments in this discussion") View all comments&hellip;
			li.comment-list-action
				a.btn.add(href="#", title="") Add Comment