script(type="text/template", id="template-section")

    header.section-header.topcoat-list__header
      .section-wrapper
        h2.section-title!= "<%= title_plain %>"
        .section-info
          p.section-author Author S. Name
          p.section-journal Journal Name
          p.section-date Published July 3, 1999
      //- section!= "<%= content %>"
      //- div!= "Type: <%= type %>"
      //- div!= "Added: <%= date %>"
      //- div!= "Modified: <%= date %>"
      //- div!= "Author: <%= author.first_name %> <%= author.last_name %>"
      //- div!= "<%= id %>"
      //- button.topcoat-button Hello

    .js-chapterView.topcoat-list
      //- header.topcoat-list__header
      //-   h3 Chapters