script(type="text/template", id="template-section")

    header.section-wrapper.topcoat-list__header
      h2.section-title!= "<%= title_plain %>"
      //- section!= "<%= content %>"
      //- div!= "Type: <%= type %>"
      //- div!= "Added: <%= date %>"
      //- div!= "Modified: <%= date %>"
      //- div!= "Author: <%= author.first_name %> <%= author.last_name %>"
      //- div!= "<%= id %>"
      //- button.topcoat-button Hello

    .js-chapterView.topcoat-list
      //- header.topcoat-list__header
      //-   h3 Chapters