!!!
//if lt IE 9
	<html class="no-js ie">
	//- html.no-js.ie
// [if gte IE 9]><!
html(lang="en", class="no-js")
	// <![endif]
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title= globals.title
		meta(name="description", content="#{ globals.description }")
		meta(name="author", content="#{ globals.name }")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		meta(name="handheldfriendly", content="true")
		meta(name="mobileoptimized", content="320")
		meta(http-equiv="cleartype", content="on")
		link(rel="stylesheet", href="css/application.css")
		//- != partial("shared/_fonts") // Load fonts asynchronously

		script(src="bookdata.json", type="application/json")
		script(src="decadedata.json", type="application/json")

		script(src="js/application.min.js")
		script
			var onDeviceReady = function(e) {}
			$(document).ready(function(e){
				document.addEventListener("deviceready", onDeviceReady, false);
			});
	body(lang="en")
		//- != partial("_debug")

		!= partial("_templates/book")

		!= partial("_templates/section")
		!= partial("_templates/chapter")
		!= partial("_templates/comments")
		!= partial("_templates/comment")
		!= partial("_templates/comment-form")

		script(src="js/prefixfree.min.js")