/*

// @private css3-feature-support variables must always include a list of five boolean values
// representing in order: -moz, -webkit, -ms, -o, -khtml
$font-feature-settings-support: -moz, -webkit, -ms, not -o, not -khtml;
$font-variant-support: -moz, -webkit, -ms, not -o, not -khtml;

// No defaults yet
// Not sure if it is necessary to do
// something more involved with booleans / stylistic set numbers

@mixin font-feature-settings($font-feature-settings...) {
	$feature-tag-values-legacy: ();
	$font-variant-value: normal !default;

	@each $value in $font-feature-settings {
		$feature-tag-value: unquote(nth($value, 1));
		$feature-tag-value-legacy: $feature-tag-value + "=" + nth($value, 2);
		$feature-tag-values-legacy: append($feature-tag-values-legacy, $feature-tag-value-legacy, comma);

		@if $value == "smcp" or $value == "c2sc" {
			$font-variant-value: small-caps;
		}
	}

	-moz-font-feature-settings: quote(#{$feature-tag-values-legacy}); // Still need to fix this
	@include experimental(font-feature-settings, $font-feature-settings, $font-feature-settings-support...);
	font-variant: $font-variant-value;
}

*/

font-feature-settings()
	// for each argument in arguments?
	-moz-font-feature-settings: arguments // Need to fix for old syntax
	-webkit-font-feature-settings: arguments
	-moz-font-feature-settings: arguments
	-ms-font-feature-settings: arguments