/*

// Text Size Adjust

// @private css3-feature-support variables must always include a list of five boolean values
// representing in order: -moz, -webkit, -ms, -o, -khtml
$text-size-adjust-support: -webkit, -ms;

@mixin text-size-adjust($text-size-adjust) {
	@include experimental(text-size-adjust, $text-size-adjust, $text-size-adjust-support);
}

*/