// FF Tisa
// =======

@css {

	@font-face {
		font-family: "FF Tisa SC";
		src: url("fonts/ff-tisa/TisaScWeb.eot");
		src: url("fonts/ff-tisa/TisaScWeb.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ff-tisa/TisaScWeb.woff") format("woff");
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: "FF Tisa SC";
		src: url("fonts/ff-tisa/TisaScWeb-Bold.eot");
		src: url("fonts/ff-tisa/TisaScWeb-Bold.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ff-tisa/TisaScWeb-Bold.woff") format("woff");
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: "FF Tisa SC";
		src: url("fonts/ff-tisa/TisaScWeb-Italic.eot");
		src: url("fonts/ff-tisa/TisaScWeb-Italic.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ff-tisa/TisaScWeb-Italic.woff") format("woff");
		font-weight: 400;
		font-style: italic;
	}

	@font-face {
		font-family: "FF Tisa SC";
		src: url("fonts/ff-tisa/TisaScWeb-BoldItalic.eot");
		src: url("fonts/ff-tisa/TisaScWeb-BoldItalic.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ff-tisa/TisaScWeb-BoldItalic.woff") format("woff");
		font-weight: 700;
		font-style: italic;
	}

}