// FF Tisa
// =======

@css {

	@font-face {
		font-family: "FF Tisa";
		src: url("fonts/ff-tisa/TisaWeb.eot");
		src: url("fonts/ff-tisa/TisaWeb.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ff-tisa/TisaWeb.woff") format("woff");
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: "FF Tisa";
		src: url("fonts/ff-tisa/TisaWeb-Bold.eot");
		src: url("fonts/ff-tisa/TisaWeb-Bold.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ff-tisa/TisaWeb-Bold.woff") format("woff");
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: "FF Tisa";
		src: url("fonts/ff-tisa/TisaWeb-Italic.eot");
		src: url("fonts/ff-tisa/TisaWeb-Italic.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ff-tisa/TisaWeb-Italic.woff") format("woff");
		font-weight: 400;
		font-style: italic;
	}

	@font-face {
		font-family: "FF Tisa";
		src: url("fonts/ff-tisa/TisaWeb-BoldItalic.eot");
		src: url("fonts/ff-tisa/TisaWeb-BoldItalic.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ff-tisa/TisaWeb-BoldItalic.woff") format("woff");
		font-weight: 700;
		font-style: italic;
	}

}