// State
// =====

.topcoat-list
  // visibility: hidden
  display: none
  &.js-chapterView
    display: block
    // visibility:visible

.is-focused
  > .topcoat-list
    // visibility: visible
    display: block
.isnt-focused
  // visibility: hidden
  // display: none