// User Interface Element
// ======================

ui()
	vendor("touch-callout", none, only: webkit) // prevent callout to copy image, etc when tap to hold
	vendor("text-size-adjust", none, only: webkit) // prevent webkit from resizing text to fit
	vendor("tap-highlight-color", rgba(0,0,0,0), webkit) // make transparent link selection, adjust last value opacity 0 to 1.0
	vendor("user-select", none, only: moz webkit official) // prevent copy paste, to allow, change 'none' to 'text'