*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);overflow-y:scroll;background:#f9f8f0;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased}
::-moz-selection,::selection{background:#fd8c8e}
.wf-loading{visibility:hidden}
.wf-active,.wf-inactive{visibility:visible}
@font-face {
		font-family: "FF Tisa";
		src: url("fonts/ff-tisa/TisaWeb.eot");
		src: url("fonts/ff-tisa/TisaWeb.eot?#iefix") format("embedded-opentype"),url("fonts/ff-tisa/TisaWeb.woff") format("woff");
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: "FF Tisa";
		src: url("fonts/ff-tisa/TisaWeb-Bold.eot");
		src: url("fonts/ff-tisa/TisaWeb-Bold.eot?#iefix") format("embedded-opentype"),url("fonts/ff-tisa/TisaWeb-Bold.woff") format("woff");
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: "FF Tisa";
		src: url("fonts/ff-tisa/TisaWeb-Italic.eot");
		src: url("fonts/ff-tisa/TisaWeb-Italic.eot?#iefix") format("embedded-opentype"),url("fonts/ff-tisa/TisaWeb-Italic.woff") format("woff");
		font-weight: 400;
		font-style: italic;
	}

	@font-face {
		font-family: "FF Tisa";
		src: url("fonts/ff-tisa/TisaWeb-BoldItalic.eot");
		src: url("fonts/ff-tisa/TisaWeb-BoldItalic.eot?#iefix") format("embedded-opentype"),url("fonts/ff-tisa/TisaWeb-BoldItalic.woff") format("woff");
		font-weight: 700;
		font-style: italic;
	}
@font-face {
		font-family: "FF Tisa SC";
		src: url("fonts/ff-tisa/TisaScWeb.eot");
		src: url("fonts/ff-tisa/TisaScWeb.eot?#iefix") format("embedded-opentype"),url("fonts/ff-tisa/TisaScWeb.woff") format("woff");
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: "FF Tisa SC";
		src: url("fonts/ff-tisa/TisaScWeb-Bold.eot");
		src: url("fonts/ff-tisa/TisaScWeb-Bold.eot?#iefix") format("embedded-opentype"),url("fonts/ff-tisa/TisaScWeb-Bold.woff") format("woff");
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: "FF Tisa SC";
		src: url("fonts/ff-tisa/TisaScWeb-Italic.eot");
		src: url("fonts/ff-tisa/TisaScWeb-Italic.eot?#iefix") format("embedded-opentype"),url("fonts/ff-tisa/TisaScWeb-Italic.woff") format("woff");
		font-weight: 400;
		font-style: italic;
	}

	@font-face {
		font-family: "FF Tisa SC";
		src: url("fonts/ff-tisa/TisaScWeb-BoldItalic.eot");
		src: url("fonts/ff-tisa/TisaScWeb-BoldItalic.eot?#iefix") format("embedded-opentype"),url("fonts/ff-tisa/TisaScWeb-BoldItalic.woff") format("woff");
		font-weight: 700;
		font-style: italic;
	}
body{font-weight:400;line-height:1.5;background:#f9f8f0;color:#404040;margin:0;-webkit-font-feature-settings:"onum" 1,"pnum" 1,"kern" false,"liga" 1;-moz-font-feature-settings:"onum" 1,"pnum" 1,"kern" false,"liga" 1;-ms-font-feature-settings:"onum" 1,"pnum" 1,"kern" false,"liga" 1;font-feature-settings:"onum" 1,"pnum" 1,"kern" false,"liga" 1;font-size:20px;font-size:1.25rem}
body,select,input,textarea,button,pre{font-family:"FF Tisa",Georgia,serif}
h1,h2,h3,h4,h5,h6{font-family:"FF Tisa",Georgia,serif;font-weight:normal}
em,cite{font-family:"FF Tisa",Georgia,serif}
blockquote,figcaption{font-family:"FF Tisa",Georgia,serif;font-style:italic}
code,kbd,samp{font-family:"Lucida Sans Typewriter","Menlo",monospace}
h1{font-weight:600;font-style:normal;font-size:48px;font-size:3rem;line-height:1.1;margin:0}
h2{font-weight:600;font-style:normal}
h3{font-weight:700;font-style:normal;font-size:32px;font-size:2rem}
h4,h5,h6{font-weight:400;font-style:normal}
a{color:#8e7982;text-decoration:none;word-wrap:break-word;}
a:visited{color:#8e7982}
a:hover{color:#fc5b5d}
a:active{color:#ec0407}
a:focus{color:#fc5b5d;outline:#fc5b5d thin dotted;}
a:focus:hover,a:focus:active{outline:0}
p{margin:0}
p + p{text-indent:1.5}
ul,ol,dl{margin:0;padding:0}
ul li{list-style:outside bullet}
ol{counter-reset:li;padding:0}
ol li{list-style:outside decimal;position:relative}
dl dt{font-weight:bold}
dl dd{margin:0 0 1em 0}
nav ul,nav ul li,nav ol,nav ol li{list-style:none;list-style-type:none;margin:0;padding:0;}
nav ul:before,nav ul li:before,nav ol:before,nav ol li:before{content:""}
b,strong,mark{font-weight:bold}
dfn,mark{font-style:italic}
ins,mark{color:#03a4a2;background-color:#fc5b5d}
ins{text-decoration:none}
del{text-decoration:line-through}
abbr{font-size:75%;-webkit-font-feature-settings:"lnum" 1,"pnum" 1,"kern" 0,"liga" 1,"scmp" 1,"c2sc" 1;-moz-font-feature-settings:"lnum" 1,"pnum" 1,"kern" 0,"liga" 1,"scmp" 1,"c2sc" 1;-ms-font-feature-settings:"lnum" 1,"pnum" 1,"kern" 0,"liga" 1,"scmp" 1,"c2sc" 1;font-feature-settings:"lnum" 1,"pnum" 1,"kern" 0,"liga" 1,"scmp" 1,"c2sc" 1}
abbr[title],dfn[title]{cursor:help;border-bottom:1px dotted}
sub,sup{font-size:55%;line-height:0;position:relative;vertical-align:baseline;-webkit-font-feature-settings:"lnum" 1,"pnum" 1;-moz-font-feature-settings:"lnum" 1,"pnum" 1;-ms-font-feature-settings:"lnum" 1,"pnum" 1;font-feature-settings:"lnum" 1,"pnum" 1}
sup{top:-.75em}
sub{bottom:-.25em}
img,embed,object,video{width:100%}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}
svg:not(root){overflow:hidden}
figure{margin:0}
q:before{content:open-quote}
q:after{content:close-quote}
cite{font-style:italic}
blockquote{margin:1em 0;}
blockquote footer{padding:.5em 0 0 1em;font-style:normal;}
blockquote footer strong{font-weight:normal}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
code{padding:.5em;color:#999;background-color:#f3f3f3}
pre,.code{color:#d4d4d4;background-color:#333}
pre code,.code code{background-color:transparent;border:none;padding:0}
.code li{list-style-type:decimal-leading-zero}
table{border-collapse:collapse;border-spacing:0;-webkit-font-feature-settings:"lnum" 1,"pnum" 0,"tnum" 1,"kern" 0,"liga" 1,"scmp" 1;-moz-font-feature-settings:"lnum" 1,"pnum" 0,"tnum" 1,"kern" 0,"liga" 1,"scmp" 1;-ms-font-feature-settings:"lnum" 1,"pnum" 0,"tnum" 1,"kern" 0,"liga" 1,"scmp" 1;font-feature-settings:"lnum" 1,"pnum" 0,"tnum" 1,"kern" 0,"liga" 1,"scmp" 1}
td{vertical-align:top}
address{font-style:normal}
form{margin:0}
fieldset{border:0;margin:0;padding:0}
label{cursor:pointer}
legend{border:0;padding:0}
.ie legend{margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}
.ie button,.ie input,.ie select,.ie textarea{vertical-align:middle}
button,input{line-height:normal}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;-moz-appearance:button;appearance:button}
.ie button,.ie input[type="button"],.ie input[type="reset"],.ie input[type="submit"]{overflow:visible}
input[type="checkbox"],input[type="radio"]{padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
input[type="search"]{-webkit-appearance:textfield;-moz-appearance:textfield;appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;-moz-appearance:none;appearance:none}
button-moz-focus-inner,input-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;-webkit-resize:vertical;}
.flag{display:table;width:100%}
.flag-image,.flag-body{display:table-cell;vertical-align:middle;}
.flag-image.flag--top,.flag-body.flag--top{vertical-align:top}
.flag-image.flag--bottom,.flag-body.flag--bottom{vertical-align:bottom}
.flag-image{padding-right:.5em;}
.flag-image > img{display:block}
.flag-image.flag--reversed{padding-right:0;padding-left:.5em}
.flag-body{width:auto}
.media{display:block;padding:0}
.ie .media-image{width:100%}
.media-caption{background:#ececec}
.media-caption-title{font-family:"FF Tisa",Georgia,serif;font-style:normal;display:inline}
html{height:100%;width:100%;overflow-y:hidden;}
html.no-overflowscrolling{height:auto;overflow:visible}
body{height:100%;min-height:100%;position:relative;overflow:auto;-webkit-overflow-scrolling:touch;-webkit-transform:translate3d(0,0,0);-webkit-transform:translateZ(0);-webkit-perspective:1000;-webkit-backface-visibility:hidden;}
.dive{-webkit-box-shadow:0 0 1em #958f60;box-shadow:0 0 1em #958f60;border-top:1px solid #fc5b5d !important;width:auto;height:auto;max-height:auto;}
.is-focused > .dive{border-top:1px solid #fc5b5d;border-bottom:1px solid #fc5b5d !important;-webkit-box-shadow:none;box-shadow:none;}
.is-focused > .dive > .chapter-wrapper{-webkit-box-shadow:0 0 1em #958f60;box-shadow:0 0 1em #958f60}
.dive-wrapper{display:block;padding:0;width:auto;overflow:hidden;-webkit-transition:max-height .2s ease-in-out;-moz-transition:max-height .2s ease-in-out;-o-transition:max-height .2s ease-in-out;-ms-transition:max-height .2s ease-in-out;transition:max-height .2s ease-in-out;-webkit-transform:translate3d(0,0,0);-webkit-transform:translateZ(0);-webkit-perspective:1000;-webkit-backface-visibility:hidden;}
.dive-count{font-size:.5em;display:block;float:right;}
.dive-icon{display:block;width:.75em;height:.75em;position:absolute;right:2em;margin:0;border:1px solid #fc5b5d;border-width:3px 0 0 3px;background:#f9f8f0;display:block;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.target--comments{display:block;position:relative;margin-top:-6em;padding-top:10em;padding-bottom:5em;z-index:20}
.button-bar,.topcoat-button-bar{display:table;table-layout:fixed;white-space:nowrap;margin:0;padding:0}
.button-bar__item,.topcoat-button-bar__item{display:table-cell;width:auto;-webkit-border-radius:0;border-radius:0}
.button_bar__item > input,.topcoat-button-bar__item > input{position:absolute;overflow:hidden;padding:0;border:0;opacity:.001;z-index:1;vertical-align:top;outline:none}
.button-bar__item:disabled{opacity:.3;cursor:default;pointer-events:none}
.button,.topcoat-button,.topcoat-button--quiet,.topcoat-button--large,.topcoat-button--large--quiet,.topcoat-button--cta,.topcoat-button--large--cta,.topcoat-icon-button,.topcoat-icon-button--quiet,.topcoat-icon-button--large,.topcoat-icon-button--large--quiet,.topcoat-button-bar__button,.topcoat-button-bar__button--large{position:relative;display:inline-block;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;padding:0;margin:0;font:inherit;color:inherit;background:transparent;border:none;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;text-decoration:none}
.button--quiet{background:transparent;border:1px solid transparent;-webkit-box-shadow:none;box-shadow:none}
.button--disabled,.topcoat-button:disabled,.topcoat-button--quiet:disabled,.topcoat-button--large:disabled,.topcoat-button--large--quiet:disabled,.topcoat-button--cta:disabled,.topcoat-button--large--cta:disabled,.topcoat-icon-button:disabled,.topcoat-icon-button--quiet:disabled,.topcoat-icon-button--large:disabled,.topcoat-icon-button--large--quiet:disabled,.topcoat-button-bar__button:disabled,.topcoat-button-bar__button--large:disabled{opacity:.3;cursor:default;pointer-events:none}
input[type="checkbox"]{position:absolute;overflow:hidden;padding:0;border:0;opacity:.001;z-index:1;vertical-align:top;outline:none}
.checkbox,.topcoat-checkbox__checkmark{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;position:relative;display:inline-block;vertical-align:top;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.checkbox__label,.topcoat-checkbox{position:relative;display:inline-block;vertical-align:top;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.checkbox--disabled,input[type="checkbox"]:disabled + .topcoat-checkbox__checkmark{opacity:.3;cursor:default;pointer-events:none}
.checkbox:before,.checkbox:after,.topcoat-checkbox__checkmark:before,.topcoat-checkbox__checkmark:after{content:'';position:absolute}
.checkbox:before,.topcoat-checkbox__checkmark:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box}
.input,.topcoat-text-input,.topcoat-text-input--large{padding:0;margin:0;font:inherit;color:inherit;background:transparent;border:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;vertical-align:top;outline:none}
.input:disabled,.topcoat-text-input:disabled,.topcoat-text-input--large:disabled{opacity:.3;cursor:default;pointer-events:none}
.navigation-bar,.topcoat-navigation-bar{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;white-space:nowrap;overflow:hidden;word-spacing:0;padding:0;margin:0;font:inherit;color:inherit;background:transparent;border:none;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.navigation-bar__item,.topcoat-navigation-bar__item{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;position:relative;display:inline-block;vertical-align:top;padding:0;margin:0;font:inherit;color:inherit;background:transparent;border:none}
.navigation-bar__title,.topcoat-navigation-bar__title{padding:0;margin:0;font:inherit;color:inherit;background:transparent;border:none;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
input[type="radio"]{position:absolute;overflow:hidden;padding:0;border:0;opacity:.001;z-index:1;vertical-align:top;outline:none}
.radio-button,.topcoat-radio-button__checkmark{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;position:relative;display:inline-block;vertical-align:top;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.radio-button__label,.topcoat-radio-button{position:relative;display:inline-block;vertical-align:top;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.radio-button:before,.radio-button:after,.topcoat-radio-button__checkmark:before,.topcoat-radio-button__checkmark:after{content:'';position:absolute;-webkit-border-radius:100%;border-radius:100%}
.radio-button:after,.topcoat-radio-button__checkmark:after{top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.radio-button:before,.topcoat-radio-button__checkmark:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box}
.radio-button--disabled,input[type="radio"]:disabled + .topcoat-radio-button__checkmark{opacity:.3;cursor:default;pointer-events:none}
.search-input,.topcoat-search-input,.topcoat-search-input--large{padding:0;margin:0;font:inherit;color:inherit;background:transparent;border:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;vertical-align:top;outline:none;-webkit-appearance:none}
input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
.search-input:disabled,.topcoat-search-input:disabled,.topcoat-search-input--large:disabled{opacity:.3;cursor:default;pointer-events:none}
.textarea,.topcoat-textarea,.topcoat-textarea--large{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;padding:0;margin:0;font:inherit;color:inherit;background:transparent;border:none;vertical-align:top;-webkit-resize:none;outline:none}
.textarea:disabled,.topcoat-textarea:disabled,.topcoat-textarea--large:disabled{opacity:.3;cursor:default;pointer-events:none}
.button,.topcoat-button,.topcoat-button--quiet,.topcoat-button--large,.topcoat-button--large--quiet,.topcoat-button--cta,.topcoat-button--large--cta,.topcoat-icon-button,.topcoat-icon-button--quiet,.topcoat-icon-button--large,.topcoat-icon-button--large--quiet,.topcoat-button-bar__button,.topcoat-button-bar__button--large{position:relative;display:inline-block;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;padding:0;margin:0;font:inherit;color:inherit;background:transparent;border:none;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;text-decoration:none}
.button--quiet{background:transparent;border:1px solid transparent;-webkit-box-shadow:none;box-shadow:none}
.button--disabled,.topcoat-button:disabled,.topcoat-button--quiet:disabled,.topcoat-button--large:disabled,.topcoat-button--large--quiet:disabled,.topcoat-button--cta:disabled,.topcoat-button--large--cta:disabled,.topcoat-icon-button:disabled,.topcoat-icon-button--quiet:disabled,.topcoat-icon-button--large:disabled,.topcoat-icon-button--large--quiet:disabled,.topcoat-button-bar__button:disabled,.topcoat-button-bar__button--large:disabled{opacity:.3;cursor:default;pointer-events:none}
.topcoat-button,.topcoat-button--quiet,.topcoat-button--large,.topcoat-button--large--quiet,.topcoat-button--cta,.topcoat-button--large--cta,.topcoat-button-bar__button,.topcoat-button-bar__button--large{padding:0 1.25rem;font-size:16px;font-size:1rem;line-height:3rem;letter-spacing:0;color:#404040;text-shadow:none;vertical-align:top;background-color:#e5e9e8;-webkit-box-shadow:none;box-shadow:none;border:none;-webkit-border-radius:6px;border-radius:6px}
.topcoat-button:hover,.topcoat-button--quiet:hover,.topcoat-button--large:hover,.topcoat-button--large--quiet:hover,.topcoat-button-bar__button:hover,.topcoat-button-bar__button--large:hover{background-color:#edf1f1}
.topcoat-button:active,.topcoat-button--large:active,.topcoat-button-bar__button:active,.topcoat-button-bar__button--large:active,:checked + .topcoat-button-bar__button{background-color:#d3d7d7;-webkit-box-shadow:none;box-shadow:none}
.topcoat-button:focus,.topcoat-button--quiet:focus,.topcoat-button--large:focus,.topcoat-button--large--quiet:focus,.topcoat-button--cta:focus,.topcoat-button--large--cta:focus,.topcoat-button-bar__button:focus,.topcoat-button-bar__button--large:focus{border:1px solid #0940fd;-webkit-box-shadow:0 0 0 2px #6fb5f1;box-shadow:0 0 0 2px #6fb5f1;outline:0}
.topcoat-button--quiet{background:transparent;border:1px solid transparent;-webkit-box-shadow:none;box-shadow:none}
.topcoat-button--quiet:hover,.topcoat-button--large--quiet:hover{text-shadow:none;border:none;-webkit-box-shadow:none;box-shadow:none}
.topcoat-button--quiet:active,.topcoat-button--large--quiet:active{color:#404040;text-shadow:none;background-color:#d3d7d7;border:none;-webkit-box-shadow:none;box-shadow:none}
.topcoat-button--large,.topcoat-button--large--quiet,.topcoat-button-bar__button--large{font-size:20.8px;font-size:1.3rem;font-weight:400;line-height:4.375rem;padding:0 1.25rem}
.topcoat-button--large--quiet{background:transparent;border:1px solid transparent;-webkit-box-shadow:none;box-shadow:none}
.topcoat-button--cta,.topcoat-button--large--cta{border:1px solid #143250;background-color:#288edf;-webkit-box-shadow:inset 0 1px rgba(255,255,255,0.36);box-shadow:inset 0 1px rgba(255,255,255,0.36);color:#fff;font-weight:500;text-shadow:0 -1px rgba(0,0,0,0.36)}
.topcoat-button--cta:hover,.topcoat-button--large--cta:hover{background-color:#509bef}
.topcoat-button--cta:active,.topcoat-button--large--cta:active{background-color:#0380e8;-webkit-box-shadow:inset 0 1px rgba(0,0,0,0.12);box-shadow:inset 0 1px rgba(0,0,0,0.12)}
.topcoat-button--large--cta{font-size:20.8px;font-size:1.3rem;font-weight:400;line-height:4.375rem;padding:0 1.25rem}
input[type="checkbox"]{position:absolute;overflow:hidden;padding:0;border:0;opacity:.001;z-index:1;vertical-align:top;outline:none}
.checkbox,.topcoat-checkbox__checkmark{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;position:relative;display:inline-block;vertical-align:top;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.checkbox__label,.topcoat-checkbox{position:relative;display:inline-block;vertical-align:top;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.checkbox--disabled,input[type="checkbox"]:disabled + .topcoat-checkbox__checkmark{opacity:.3;cursor:default;pointer-events:none}
.checkbox:before,.checkbox:after,.topcoat-checkbox__checkmark:before,.topcoat-checkbox__checkmark:after{content:'';position:absolute}
.checkbox:before,.topcoat-checkbox__checkmark:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box}
.topcoat-checkbox__checkmark{height:2rem}
input[type="checkbox"]{height:2rem;width:2rem;margin-top:0;margin-right:-2rem;margin-bottom:-2rem;margin-left:0}
input[type="checkbox"]:checked + .topcoat-checkbox__checkmark:after{opacity:1;}
.topcoat-checkbox{line-height:2rem}
.topcoat-checkbox__checkmark:before{width:2rem;height:2rem;background:#e5e9e8;border:none;-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:none;box-shadow:none}
.topcoat-checkbox__checkmark{width:2rem;height:2rem}
.topcoat-checkbox__checkmark:after{top:1px;left:2px;opacity:0;width:28px;height:11px;background:transparent;border:7px solid #666;border-width:7px;border-top:none;border-right:none;-webkit-border-radius:2px;border-radius:2px;-webkit-transform:rotate(-50deg);-moz-transform:rotate(-50deg);-o-transform:rotate(-50deg);-ms-transform:rotate(-50deg);transform:rotate(-50deg)}
input[type="checkbox"]:focus + .topcoat-checkbox__checkmark:before{border:1px solid #0940fd;-webkit-box-shadow:0 0 0 2px #6fb5f1;box-shadow:0 0 0 2px #6fb5f1}
.button,.topcoat-icon-button,.topcoat-icon-button--quiet,.topcoat-icon-button--large,.topcoat-icon-button--large--quiet,.topcoat-button,.topcoat-button--quiet,.topcoat-button--large,.topcoat-button--large--quiet,.topcoat-button--cta,.topcoat-button--large--cta,.topcoat-button-bar__button,.topcoat-button-bar__button--large{position:relative;display:inline-block;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;padding:0;margin:0;font:inherit;color:inherit;background:transparent;border:none;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;text-decoration:none}
.button--quiet{background:transparent;border:1px solid transparent;-webkit-box-shadow:none;box-shadow:none}
.button--disabled,.topcoat-icon-button:disabled,.topcoat-icon-button--quiet:disabled,.topcoat-icon-button--large:disabled,.topcoat-icon-button--large--quiet:disabled,.topcoat-button:disabled,.topcoat-button--quiet:disabled,.topcoat-button--large:disabled,.topcoat-button--large--quiet:disabled,.topcoat-button--cta:disabled,.topcoat-button--large--cta:disabled,.topcoat-button-bar__button:disabled,.topcoat-button-bar__button--large:disabled{opacity:.3;cursor:default;pointer-events:none}
.topcoat-icon-button,.topcoat-icon-button--quiet,.topcoat-icon-button--large,.topcoat-icon-button--large--quiet{padding:0 .75rem;line-height:3rem;letter-spacing:0;color:#404040;text-shadow:none;vertical-align:baseline;background-color:#e5e9e8;-webkit-box-shadow:none;box-shadow:none;border:none;-webkit-border-radius:6px;border-radius:6px}
.topcoat-icon-button:hover,.topcoat-icon-button--quiet:hover,.topcoat-icon-button--large:hover,.topcoat-icon-button--large--quiet:hover{background-color:#edf1f1}
.topcoat-icon-button:active{background-color:#d3d7d7;-webkit-box-shadow:none;box-shadow:none}
.topcoat-icon-button:focus,.topcoat-icon-button--quiet:focus,.topcoat-icon-button--quiet:hover:focus,.topcoat-icon-button--large:focus,.topcoat-icon-button--large--quiet:focus,.topcoat-icon-button--large--quiet:hover:focus{border:1px solid #0940fd;-webkit-box-shadow:0 0 0 2px #6fb5f1;box-shadow:0 0 0 2px #6fb5f1;outline:0}
.topcoat-icon-button--quiet{background:transparent;border:1px solid transparent;-webkit-box-shadow:none;box-shadow:none}
.topcoat-icon-button--quiet:hover,.topcoat-icon-button--large--quiet:hover{text-shadow:none;border:none;-webkit-box-shadow:none;box-shadow:none}
.topcoat-icon-button--quiet:active,.topcoat-icon-button--large--quiet:active{color:#404040;text-shadow:none;background-color:#d3d7d7;border:none;-webkit-box-shadow:none;box-shadow:none}
.topcoat-icon-button--large,.topcoat-icon-button--large--quiet{width:4.375rem;height:4.375rem;line-height:4.375rem}
.topcoat-icon-button--large:active{background-color:#d3d7d7;-webkit-box-shadow:none;box-shadow:none}
.topcoat-icon-button--large--quiet{background:transparent;border:1px solid transparent;-webkit-box-shadow:none;box-shadow:none}
.topcoat-icon,.topcoat-icon--large{position:relative;display:inline-block;vertical-align:top;overflow:hidden;width:1.62rem;height:1.62rem;vertical-align:middle;top:-1px}
.topcoat-icon--large{width:2.499999998125rem;height:2.499999998125rem;top:-2px}
.list,.topcoat-list{padding:0;margin:0;font:inherit;color:inherit;background:transparent;border:none;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;overflow:auto;-webkit-overflow-scrolling:touch}
.list__header,.topcoat-list__header{margin:0}
.list__container,.topcoat-list__container{padding:0;margin:0;list-style-type:none}
.list__item,.topcoat-list__item{margin:0;padding:0}
.topcoat-list{border-top:#ebe8cd;border-bottom:none;background-color:#f9f8f0}
.topcoat-list__header{padding:1em 3em;font-size:.9em;font-weight:700;background-color:#ebe8cd;color:#656565;text-shadow:none;border-top:none;border-bottom:none}
.topcoat-list__container{border-top:none;color:#404040}
.topcoat-list__item{padding:0;border-top:1px solid #ddd7aa;border-bottom:none}
.topcoat-list__item:first-child{border-top:none}
.navigation-bar,.topcoat-navigation-bar{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;white-space:nowrap;overflow:hidden;word-spacing:0;padding:0;margin:0;font:inherit;color:inherit;background:transparent;border:none;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.navigation-bar__item,.topcoat-navigation-bar__item{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;position:relative;display:inline-block;vertical-align:top;padding:0;margin:0;font:inherit;color:inherit;background:transparent;border:none}
.navigation-bar__title,.topcoat-navigation-bar__title{padding:0;margin:0;font:inherit;color:inherit;background:transparent;border:none;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.topcoat-navigation-bar{height:4.375rem;padding-left:1rem;padding-right:1rem;background:#e5e9e8;color:#000;-webkit-box-shadow:inset 0 -1px #b9bcbc,0 1px #d4d6d6;box-shadow:inset 0 -1px #b9bcbc,0 1px #d4d6d6}
.topcoat-navigation-bar__item{margin:0;line-height:4.375rem;vertical-align:top}
.topcoat-navigation-bar__title{font-size:20.8px;font-size:1.3rem;font-weight:400;color:#000}
input[type="radio"]{position:absolute;overflow:hidden;padding:0;border:0;opacity:.001;z-index:1;vertical-align:top;outline:none}
.radio-button,.topcoat-radio-button__checkmark{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;position:relative;display:inline-block;vertical-align:top;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.radio-button__label,.topcoat-radio-button{position:relative;display:inline-block;vertical-align:top;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.radio-button:before,.radio-button:after,.topcoat-radio-button__checkmark:before,.topcoat-radio-button__checkmark:after{content:'';position:absolute;-webkit-border-radius:100%;border-radius:100%}
.radio-button:after,.topcoat-radio-button__checkmark:after{top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.radio-button:before,.topcoat-radio-button__checkmark:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box}
.radio-button--disabled,input[type="radio"]:disabled + .topcoat-radio-button__checkmark{opacity:.3;cursor:default;pointer-events:none}
input[type="radio"]{height:1.875rem;width:1.875rem;margin-top:0;margin-right:-1.875rem;margin-bottom:-1.875rem;margin-left:0}
input[type="radio"]:checked + .topcoat-radio-button__checkmark:after{opacity:1;}
.topcoat-radio-button{color:#404040;line-height:1.875rem}
.topcoat-radio-button__checkmark:before{width:1.875rem;height:1.875rem;background:#e5e9e8;border:none;-webkit-box-shadow:none;box-shadow:none}
.topcoat-radio-button__checkmark{position:relative;width:1.875rem;height:1.875rem}
.topcoat-radio-button__checkmark:after{opacity:0;width:.875rem;height:.875rem;background:#666;border:1px solid rgba(0,0,0,0.1);-webkit-box-shadow:0 1px rgba(255,255,255,0.5);box-shadow:0 1px rgba(255,255,255,0.5);-webkit-transform:none;-moz-transform:none;-o-transform:none;-ms-transform:none;transform:none;top:7px;left:7px}
input[type="radio"]:focus + .topcoat-radio-button__checkmark:before{border:1px solid #0940fd;-webkit-box-shadow:0 0 0 2px #6fb5f1;box-shadow:0 0 0 2px #6fb5f1}
.search-input,.topcoat-search-input,.topcoat-search-input--large{padding:0;margin:0;font:inherit;color:inherit;background:transparent;border:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;vertical-align:top;outline:none;-webkit-appearance:none}
input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
.search-input:disabled,.topcoat-search-input:disabled,.topcoat-search-input--large:disabled{opacity:.3;cursor:default;pointer-events:none}
.topcoat-search-input,.topcoat-search-input--large{line-height:3rem;font-size:16px;font-size:1rem;border:none;background-color:#d3d7d7;-webkit-box-shadow:none;box-shadow:none;color:#404040;padding:0 0 0 2rem;-webkit-border-radius:30px;border-radius:30px;background-image:url("../img/search.svg");background-position:1em center;background-repeat:no-repeat;-webkit-background-size:16px;-moz-background-size:16px;background-size:16px}
.topcoat-search-input:focus,.topcoat-search-input--large:focus{background-image:url("../img/search_dark.svg");background-color:#edf1f1;color:#000;border:1px solid #0940fd;-webkit-box-shadow:0 0 0 2px #6fb5f1;box-shadow:0 0 0 2px #6fb5f1}
.topcoat-search-input::-webkit-search-cancel-button,.topcoat-search-input::-webkit-search-decoration,.topcoat-search-input--large::-webkit-search-cancel-button,.topcoat-search-input--large::-webkit-search-decoration{margin-right:5px}
.topcoat-search-input:focus::-webkit-input-placeholder,.topcoat-search-input:focus::-webkit-input-placeholder{color:#c6c8c8}
.topcoat-search-input:disabled::-webkit-input-placeholder{color:#000}
.topcoat-search-input:disabled::-moz-placeholder{color:#000}
.topcoat-search-input:disabled:-ms-input-placeholder{color:#000}
.topcoat-search-input--large{line-height:4.375rem;font-size:20.8px;font-size:1.3rem;font-weight:400;padding:0 0 0 2.9rem;-webkit-border-radius:40px;border-radius:40px;background-position:1.2em center;-webkit-background-size:1.3rem;-moz-background-size:1.3rem;background-size:1.3rem}
.topcoat-search-input--large:disabled{color:#000}
.topcoat-search-input--large:disabled::-webkit-input-placeholder{color:#000}
.topcoat-search-input--large:disabled::-moz-placeholder{color:#000}
.topcoat-search-input--large:disabled:-ms-input-placeholder{color:#000}
.input,.topcoat-text-input,.topcoat-text-input--large{padding:0;margin:0;font:inherit;color:inherit;background:transparent;border:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;vertical-align:top;outline:none}
.input:disabled,.topcoat-text-input:disabled,.topcoat-text-input--large:disabled{opacity:.3;cursor:default;pointer-events:none}
.topcoat-text-input,.topcoat-text-input--large{line-height:3rem;font-size:16px;font-size:1rem;letter-spacing:0;padding:0 1.25rem;border:none;-webkit-border-radius:6px;border-radius:6px;background-color:#d3d7d7;-webkit-box-shadow:none;box-shadow:none;color:#404040;vertical-align:top}
.topcoat-text-input:focus,.topcoat-text-input--large:focus{background-color:#edf1f1;color:#000;border:1px solid #0940fd;-webkit-box-shadow:0 0 0 2px #6fb5f1;box-shadow:0 0 0 2px #6fb5f1}
.topcoat-text-input:disabled::-webkit-input-placeholder{color:#000}
.topcoat-text-input:disabled::-moz-placeholder{color:#000}
.topcoat-text-input:disabled:-ms-input-placeholder{color:#000}
.topcoat-text-input--large{line-height:4.375rem;font-size:20.8px;font-size:1.3rem}
.topcoat-text-input--large:disabled{color:#000}
.topcoat-text-input--large:disabled::-webkit-input-placeholder{color:#000}
.topcoat-text-input--large:disabled::-moz-placeholder{color:#000}
.topcoat-text-input--large:disabled:-ms-input-placeholder{color:#000}
.textarea,.topcoat-textarea,.topcoat-textarea--large{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;padding:0;margin:0;font:inherit;color:inherit;background:transparent;border:none;vertical-align:top;-webkit-resize:none;outline:none}
.textarea:disabled,.topcoat-textarea:disabled,.topcoat-textarea--large:disabled{opacity:.3;cursor:default;pointer-events:none}
.topcoat-textarea,.topcoat-textarea--large{padding:2rem;font-size:40px;font-size:2.5rem;font-weight:400;-webkit-border-radius:6px;border-radius:6px;line-height:3rem;border:none;background-color:#d3d7d7;-webkit-box-shadow:none;box-shadow:none;color:#404040;letter-spacing:0}
.topcoat-textarea:focus,.topcoat-textarea--large:focus{background-color:#edf1f1;color:#000;border:1px solid #0940fd;-webkit-box-shadow:0 0 0 2px #6fb5f1;box-shadow:0 0 0 2px #6fb5f1}
.topcoat-textarea:disabled::-webkit-input-placeholder{color:#000}
.topcoat-textarea:disabled::-moz-placeholder{color:#000}
.topcoat-textarea:disabled:-ms-input-placeholder{color:#000}
.topcoat-textarea--large{font-size:48px;font-size:3rem;line-height:4.375rem}
.topcoat-textarea--large:disabled{color:#000}
.topcoat-textarea--large:disabled::-webkit-input-placeholder{color:#000}
.topcoat-textarea--large:disabled::-moz-placeholder{color:#000}
.topcoat-textarea--large:disabled:-ms-input-placeholder{color:#000}
.button,.topcoat-button,.topcoat-button--quiet,.topcoat-button--large,.topcoat-button--large--quiet,.topcoat-button--cta,.topcoat-button--large--cta,.topcoat-button-bar__button,.topcoat-button-bar__button--large{position:relative;display:inline-block;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;padding:0;margin:0;font:inherit;color:inherit;background:transparent;border:none;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;text-decoration:none}
.button--quiet{background:transparent;border:1px solid transparent;-webkit-box-shadow:none;box-shadow:none}
.button--disabled,.topcoat-button:disabled,.topcoat-button--quiet:disabled,.topcoat-button--large:disabled,.topcoat-button--large--quiet:disabled,.topcoat-button--cta:disabled,.topcoat-button--large--cta:disabled,.topcoat-button-bar__button:disabled,.topcoat-button-bar__button--large:disabled{opacity:.3;cursor:default;pointer-events:none}
.topcoat-button,.topcoat-button--quiet,.topcoat-button--large,.topcoat-button--large--quiet,.topcoat-button--cta,.topcoat-button--large--cta,.topcoat-button-bar__button,.topcoat-button-bar__button--large{padding:0 1.25rem;font-size:16px;font-size:1rem;line-height:3rem;letter-spacing:0;color:#404040;text-shadow:none;vertical-align:top;background-color:#e5e9e8;-webkit-box-shadow:none;box-shadow:none;border:none;-webkit-border-radius:6px;border-radius:6px}
.topcoat-button:hover,.topcoat-button--quiet:hover,.topcoat-button--large:hover,.topcoat-button--large--quiet:hover,.topcoat-button-bar__button:hover,.topcoat-button-bar__button--large:hover{background-color:#edf1f1}
.topcoat-button:active,.topcoat-button--large:active,.topcoat-button-bar__button:active,.topcoat-button-bar__button--large:active,:checked + .topcoat-button-bar__button{background-color:#d3d7d7;-webkit-box-shadow:none;box-shadow:none}
.topcoat-button:focus,.topcoat-button--quiet:focus,.topcoat-button--large:focus,.topcoat-button--large--quiet:focus,.topcoat-button--cta:focus,.topcoat-button--large--cta:focus,.topcoat-button-bar__button:focus,.topcoat-button-bar__button--large:focus{border:1px solid #0940fd;-webkit-box-shadow:0 0 0 2px #6fb5f1;box-shadow:0 0 0 2px #6fb5f1;outline:0}
.topcoat-button--quiet{background:transparent;border:1px solid transparent;-webkit-box-shadow:none;box-shadow:none}
.topcoat-button--quiet:hover,.topcoat-button--large--quiet:hover{text-shadow:none;border:none;-webkit-box-shadow:none;box-shadow:none}
.topcoat-button--quiet:active,.topcoat-button--large--quiet:active{color:#404040;text-shadow:none;background-color:#d3d7d7;border:none;-webkit-box-shadow:none;box-shadow:none}
.topcoat-button--large,.topcoat-button--large--quiet,.topcoat-button-bar__button--large{font-size:20.8px;font-size:1.3rem;font-weight:400;line-height:4.375rem;padding:0 1.25rem}
.topcoat-button--large--quiet{background:transparent;border:1px solid transparent;-webkit-box-shadow:none;box-shadow:none}
.topcoat-button--cta,.topcoat-button--large--cta{border:1px solid #143250;background-color:#288edf;-webkit-box-shadow:inset 0 1px rgba(255,255,255,0.36);box-shadow:inset 0 1px rgba(255,255,255,0.36);color:#fff;font-weight:500;text-shadow:0 -1px rgba(0,0,0,0.36)}
.topcoat-button--cta:hover,.topcoat-button--large--cta:hover{background-color:#509bef}
.topcoat-button--cta:active,.topcoat-button--large--cta:active{background-color:#0380e8;-webkit-box-shadow:inset 0 1px rgba(0,0,0,0.12);box-shadow:inset 0 1px rgba(0,0,0,0.12)}
.topcoat-button--large--cta{font-size:20.8px;font-size:1.3rem;font-weight:400;line-height:4.375rem;padding:0 1.25rem}
.button-bar,.topcoat-button-bar{display:table;table-layout:fixed;white-space:nowrap;margin:0;padding:0}
.button-bar__item,.topcoat-button-bar__item{display:table-cell;width:auto;-webkit-border-radius:0;border-radius:0}
.button_bar__item > input,.topcoat-button-bar__item > input{position:absolute;overflow:hidden;padding:0;border:0;opacity:.001;z-index:1;vertical-align:top;outline:none}
.button-bar__item:disabled{opacity:.3;cursor:default;pointer-events:none}
.topcoat-button-bar > .topcoat-button-bar__item:first-child{border-top-left-radius:6px;border-bottom-left-radius:6px}
.topcoat-button-bar > .topcoat-button-bar__item:last-child{border-top-right-radius:6px;border-bottom-right-radius:6px}
.topcoat-button-bar__item:first-child > .topcoat-button-bar__button,.topcoat-button-bar__item:first-child > .topcoat-button-bar__button--large{border-right:none}
.topcoat-button-bar__item:last-child > .topcoat-button-bar__button,.topcoat-button-bar__item:last-child > .topcoat-button-bar__button--large{border-left:none}
.topcoat-button-bar__button:focus,.topcoat-button-bar__button--large:focus{z-index:1}
.section-header:first-of-type{background:#444 no-repeat center center;-webkit-background-size:auto 100%;-moz-background-size:auto 100%;background-size:auto 100%;height:23.1em;color:#fff;text-shadow:0 0 1em rgba(0,0,0,0.4);padding-left:1em;padding-right:1em;}
@media screen and (min-width: 45em){.section-header:first-of-type{padding-left:3em;padding-right:3em}
}.section-wrapper{max-width:35em;margin:0 auto;padding:0}
.section-title{font-size:48px;font-size:3rem;margin:1em 0 .25em 0;font-weight:normal;line-height:1;text-transform:lowercase}
.section-info{font-weight:normal;margin-left:2em}
.section-author{font-weight:600}
.chapter{padding:0;}
.chapter:after{content:"";height:1px;display:block;position:relative;width:100%;margin:0 auto;background:#404040}
.chapter-wrapper{font-size:16px;font-size:1rem;padding:1.5em;min-height:5em;max-width:35em;margin:0 auto}
@media screen and (min-width: 45em){.chapter-wrapper{padding-left:0;padding-right:0}
}.chapter-title{font-size:20px;font-size:1.25rem}
.topcoat-list__item{border:none}
.subchapter-list{padding-top:3em}
.subchapter{padding:0 1em;font-size:1em;}
@media screen and (min-width: 45em){.subchapter{padding-left:3em;padding-right:3em}
}.subchapter > p,.subchapter > ul,.subchapter > ol,.subchapter > blockquote{max-width:35em;margin:0 auto}
.comment-list,.comment-list-action-list,.comment-list-action,.comment,.comment-action-list,.comment-action,.comment-form,.comment-form-action-list{list-style-type:none;margin:0;padding:0}
.target--comments{font-size:16px;font-size:1rem;margin-left:-3.75em;margin-right:-3.75em;display:block;}
.target--comments .topcoat-list__header{padding:0;text-align:center;background:none;}
.target--comments .topcoat-list__header h4{text-transform:lowercase;font-style:italic;font-size:2em;line-height:1}
.target--comments .dive{background:#fdfdfb}
.comment-list{display:block;margin:0 auto}
.comment{font-size:1.25em;padding-left:6.25em;margin-right:3.75em;padding:2.5em 2.5em 2.5em 6.25em;margin-bottom:1px;border-left:.5em solid #fc5b5d;background:#fdfdfb}
.comment-author{font-weight:normal;font-size:1.25em;margin-left:-1em;display:block}
.comment-time{font-style:italic;color:#ccc;-webkit-font-feature-settings:"pnum" true;-moz-font-feature-settings:"pnum" true;-ms-font-feature-settings:"pnum" true;font-feature-settings:"pnum" true}
.comment-list-action{margin:2em auto;max-width:50%;}
.comment-list-action input{width:100%;display:block}
.comment-form{display:block;background:#fdfdfb;border-bottom:1px solid #fc5b5d;padding:2em 0;margin:0 auto;}
.comment-form label{display:block}
.comment-form input display: block,.comment-form textarea display: block{width:100%;margin-bottom:1em;font-size:1em;}
.comment-form input display: block:focus,.comment-form textarea display: block:focus{border:none}
.topcoat-link{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:transparent;padding:1em;border:none}
.topcoat-list{height:1px;overflow:hidden;}
.topcoat-list.js-chapterView{display:block}
.is-focused > .topcoat-list{display:block;height:auto}
@media print{*{background:transparent !important;color:#000 !important;-webkit-box-shadow:none !important;box-shadow:none !important;text-shadow:none !important}
.main a,.main a:visited{text-decoration:underline}
.main a[href]:after{content:" (" attr(href) ")"}
.main abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
pre,blockquote{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group;}
tr,img{page-break-inside:avoid}
img{max-width:100% !important}
@page{margin:1cm .5cm}
p,h2,h3{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
}.ir{border:0;font:0/0 a;text-shadow:none;color:transparent;background-color:transparent}
.hidden{display:none;visibility:hidden}
.visuallyhidden{border:0 clip rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden .focusableactive,.visuallyhidden .focusablefocus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
