* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  overflow-y: scroll;
  background: #5b5256;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}
::-moz-selection,
::selection {
  background: #f9a677;
}
.wf-loading {
  visibility: hidden;
}
.wf-active,
.wf-inactive {
  visibility: visible;
}
@font-face {
		font-family: "FF Tisa";
		src: url("fonts/ff-tisa/TisaWeb.eot");
		src: url("fonts/ff-tisa/TisaWeb.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ff-tisa/TisaWeb.woff") format("woff");
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: "FF Tisa";
		src: url("fonts/ff-tisa/TisaWeb-Bold.eot");
		src: url("fonts/ff-tisa/TisaWeb-Bold.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ff-tisa/TisaWeb-Bold.woff") format("woff");
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: "FF Tisa";
		src: url("fonts/ff-tisa/TisaWeb-Italic.eot");
		src: url("fonts/ff-tisa/TisaWeb-Italic.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ff-tisa/TisaWeb-Italic.woff") format("woff");
		font-weight: 400;
		font-style: italic;
	}

	@font-face {
		font-family: "FF Tisa";
		src: url("fonts/ff-tisa/TisaWeb-BoldItalic.eot");
		src: url("fonts/ff-tisa/TisaWeb-BoldItalic.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ff-tisa/TisaWeb-BoldItalic.woff") format("woff");
		font-weight: 700;
		font-style: italic;
	}
@font-face {
		font-family: "FF Tisa SC";
		src: url("fonts/ff-tisa/TisaScWeb.eot");
		src: url("fonts/ff-tisa/TisaScWeb.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ff-tisa/TisaScWeb.woff") format("woff");
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: "FF Tisa SC";
		src: url("fonts/ff-tisa/TisaScWeb-Bold.eot");
		src: url("fonts/ff-tisa/TisaScWeb-Bold.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ff-tisa/TisaScWeb-Bold.woff") format("woff");
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: "FF Tisa SC";
		src: url("fonts/ff-tisa/TisaScWeb-Italic.eot");
		src: url("fonts/ff-tisa/TisaScWeb-Italic.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ff-tisa/TisaScWeb-Italic.woff") format("woff");
		font-weight: 400;
		font-style: italic;
	}

	@font-face {
		font-family: "FF Tisa SC";
		src: url("fonts/ff-tisa/TisaScWeb-BoldItalic.eot");
		src: url("fonts/ff-tisa/TisaScWeb-BoldItalic.eot?#iefix") format("embedded-opentype"),
			 url("fonts/ff-tisa/TisaScWeb-BoldItalic.woff") format("woff");
		font-weight: 700;
		font-style: italic;
	}
body {
  font-weight: 400;
  line-height: 1.5;
  background: #f2efea;
  color: #333;
  margin: 0;
  -webkit-font-feature-settings: "onum" 1, "pnum" 1, "kern" false, "liga" 1;
  -moz-font-feature-settings: "onum" 1, "pnum" 1, "kern" false, "liga" 1;
  -ms-font-feature-settings: "onum" 1, "pnum" 1, "kern" false, "liga" 1;
  font-feature-settings: "onum" 1, "pnum" 1, "kern" false, "liga" 1;
}
.main {
  font-size: 18px;
  font-size: 1.125rem;
}
body,
select,
input,
textarea,
button,
pre {
  font-family: "FF Tisa", Georgia, serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "FF Tisa", Georgia, serif;
  font-weight: normal;
}
em,
cite {
  font-family: "FF Tisa", Georgia, serif;
}
blockquote,
figcaption {
  font-family: "FF Tisa", Georgia, serif;
  font-style: italic;
}
code,
kbd,
samp {
  font-family: "Lucida Sans Typewriter", "Menlo", monospace;
}
h1 {
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.1;
  margin: 0;
}
h2 {
  font-weight: 600;
  font-style: normal;
}
h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  font-size: 2rem;
}
h4,
h5,
h6 {
  font-weight: 400;
  font-style: normal;
}
a {
  color: #8e7982;
  text-decoration: none;
  word-wrap: break-word;
}
a:visited {
  color: #8e7982;
}
a:hover {
  color: #f7803c;
}
a:active {
  color: #ce5008;
}
a:focus {
  color: #f7803c;
  outline: #f7803c thin dotted;
}
a:focus:hover,
a:focus:active {
  outline: 0;
}
p {
  margin: 0;
}
p + p {
  text-indent: 1.5;
}
ul,
ol,
dl {
  margin: 0;
  padding: 0;
}
ul ul,
ol ol,
dl dl {
  margin-left: 2em;
}
ul li {
  list-style: outside bullet;
}
ol {
  counter-reset: li;
  padding: 0;
}
ol li {
  list-style: outside decimal;
  position: relative;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: 0 0 1em 0;
}
nav ul,
nav ul li,
nav ol,
nav ol li {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul:before,
nav ul li:before,
nav ol:before,
nav ol li:before {
  content: "";
}
b,
strong,
mark {
  font-weight: bold;
}
dfn,
mark {
  font-style: italic;
}
ins,
mark {
  color: #087fc3;
  background-color: #f7803c;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
abbr {
  font-size: 75%;
  -webkit-font-feature-settings: "lnum" 1, "pnum" 1, "kern" 0, "liga" 1, "scmp" 1, "c2sc" 1;
  -moz-font-feature-settings: "lnum" 1, "pnum" 1, "kern" 0, "liga" 1, "scmp" 1, "c2sc" 1;
  -ms-font-feature-settings: "lnum" 1, "pnum" 1, "kern" 0, "liga" 1, "scmp" 1, "c2sc" 1;
  font-feature-settings: "lnum" 1, "pnum" 1, "kern" 0, "liga" 1, "scmp" 1, "c2sc" 1;
}
abbr[title],
dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
sub,
sup {
  font-size: 55%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  -webkit-font-feature-settings: "lnum" 1, "pnum" 1;
  -moz-font-feature-settings: "lnum" 1, "pnum" 1;
  -ms-font-feature-settings: "lnum" 1, "pnum" 1;
  font-feature-settings: "lnum" 1, "pnum" 1;
}
sup {
  top: -0.75em;
}
sub {
  bottom: -0.25em;
}
img,
embed,
object,
video {
  width: 100%;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
cite {
  font-style: italic;
}
blockquote {
  margin: 1em 0;
}
blockquote footer {
  padding: 0.5em 0 0 1em;
  font-style: normal;
}
blockquote footer strong {
  font-weight: normal;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
code {
  padding: 0.5em;
  color: #999;
  background-color: #f3f3f3;
}
pre,
.code {
  color: #d4d4d4;
  background-color: #333;
}
pre code,
.code code {
  background-color: transparent;
  border: none;
  padding: 0;
}
.code li {
  list-style-type: decimal-leading-zero;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-font-feature-settings: "lnum" 1, "pnum" 0, "tnum" 1, "kern" 0, "liga" 1, "scmp" 1;
  -moz-font-feature-settings: "lnum" 1, "pnum" 0, "tnum" 1, "kern" 0, "liga" 1, "scmp" 1;
  -ms-font-feature-settings: "lnum" 1, "pnum" 0, "tnum" 1, "kern" 0, "liga" 1, "scmp" 1;
  font-feature-settings: "lnum" 1, "pnum" 0, "tnum" 1, "kern" 0, "liga" 1, "scmp" 1;
}
td {
  vertical-align: top;
}
address {
  font-style: normal;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  padding: 0;
}
.ie legend {
  margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
.ie button,
.ie input,
.ie select,
.ie textarea {
  vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
.ie button,
.ie input[type="button"],
.ie input[type="reset"],
.ie input[type="submit"] {
  overflow: visible;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button-moz-focus-inner,
input-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  -webkit-resize: vertical;
}
.flag {
  display: table;
  width: 100%;
}
.flag-image,
.flag-body {
  display: table-cell;
  vertical-align: middle;
}
.flag-image.flag--top,
.flag-body.flag--top {
  vertical-align: top;
}
.flag-image.flag--bottom,
.flag-body.flag--bottom {
  vertical-align: bottom;
}
.flag-image {
  padding-right: 0.5em;
}
.flag-image > img {
  display: block;
}
.flag-image.flag--reversed {
  padding-right: 0;
  padding-left: 0.5em;
}
.flag-body {
  width: auto;
}
.media {
  display: block;
  padding: 0;
}
.ie .media-image {
  width: 100%;
}
.media-caption {
  background: #ececec;
}
.media-caption-title {
  font-family: "FF Tisa", Georgia, serif;
  font-style: normal;
  display: inline;
}
html {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
html.no-overflowscrolling {
  height: auto;
  overflow: visible;
}
body {
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.btn {
  display: block;
  border: 1px solid #008080;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  padding: 0.75em;
}
.nav {
  position: relative;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.ie .nav {
  margin-top: 0 !important;
  overflow: visible;
  float: right;
  zoom: 1;
}
.ie .nav:before,
.ie .nav:after {
  content: "";
  display: table;
}
.ie .nav:after {
  clear: both;
}
.nav-list {
  display: block;
  list-style: none;
  font-family: "FF Tisa", Georgia, serif;
  text-transform: lowercase;
  line-height: base-line-height;
  text-align: center;
}
.ie .nav-list {
  margin-right: none;
  float: right;
}
.nav-list-item {
  display: block;
  border-bottom: 1px solid #ececec;
}
.ie .nav-list-item {
  display: list-item;
  line-height: 3em;
  border-bottom: none;
  float: left;
  clear: none !important;
}
.nav-list-item:last-child {
  border-bottom: none;
}
.nav-list-item-link,
.nav-list-item-link:visited {
  font-size: 16px;
  font-size: 1rem;
  display: block;
}
.nav-list-item-link:hover,
.nav-list-item-link:visited:hover,
.nav-list-item-link:active,
.nav-list-item-link:visited:active {
  color: #f7803c;
}
.ie .nav-list-item-link,
.ie .nav-list-item-link:visited {
  font-size: 1em;
  line-height: base-line-height;
}
.nav-list-item-skip {
  border: 0;
}
.nav-skip {
  width: 0;
  height: 0;
  overflow: hidden;
}
.nav-skip:focus {
  width: auto;
  height: auto;
  overflow: visible;
}
.dive {
  border-top: 1px solid #f7803c;
  border-bottom: 1px solid #f7803c;
  width: auto;
  height: auto;
  max-height: auto;
  background: #f2efea;
}
.dive:after {
  content: "";
  position: absolute;
  right: 2em;
  z-index: 10;
  display: block;
  float: left;
  height: 0;
  border: 0.25em solid transparent;
  border-top-color: #f7803c;
  width: 0;
}
.dive.is-open > .dive-wrapper,
.dive:focus > .dive-wrapper {
  max-height: 9999px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.dive.is-open:after,
.dive:focus:after {
  margin: 1px 0 0 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.dive-wrapper {
  display: block;
  padding: 0;
  width: auto;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
  -moz-transition: max-height 0.2s ease-in-out;
  -o-transition: max-height 0.2s ease-in-out;
  -ms-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.dive-count {
  font-size: 0.5em;
  display: block;
  float: right;
}
.dive-icon {
  display: block;
  width: 0.75em;
  height: 0.75em;
  position: absolute;
  right: 2em;
  margin: 0;
  border: 1px solid #f7803c;
  border-width: 3px 0 0 3px;
  background: #f2efea;
  display: block;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.target {
  padding: 2em 0;
  display: block;
  border-top: 2px dashed #008080;
  border-bottom: 4px dashed #00f;
}
.section-list,
.section {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.chapter-list,
.chapter {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.subchapter-list,
.subchapter {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.comment-list,
.comment-list-action-list,
.comment-list-action,
.comment,
.comment-action-list,
.comment-action,
.comment-form,
.comment-form-action-list,
.comment-form-action {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
/* Black prints faster: h5bp.com/s */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  .main a,
  .main a:visited {
    text-decoration: underline;
  }
  .main a[href]:after {
    content: " (" attr(href) ")";
  }
  .main abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
/* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 1cm 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  border: 0 clip rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden .focusableactive,
.visuallyhidden .focusablefocus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
